:root {
  --color-primary: #5ec576;
  --color-secondary: #ffcb03;
  --color-tertiary: #ff585f;
  --gradient-primary: linear-gradient(to top left, #39b385, #9be15d);
  --gradient-main: linear-gradient(to bottom left, #fefeff, #70f3bc);
}
.highlight {
  position: relative;
}
.highlight::after {
  display: block;
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.7;
  transform: scale(1.07, 1.05) skewX(-15deg);
  background: var(--gradient-main);
}
.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
  background: #acffdc;
}
@media only screen and (max-width: 760px),
  (min-device-width: 768px) and (max-device-width: 1024px) {
  /* Force table to not be like tables anymore */
  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }

  /* Hide table headers (but not display: none;, for accessibility) */
  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  tr {
    border: 1px solid #ccc;
  }

  td {
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50% !important; /* Added important here */
  }

  td:before {
    /* Now like a table header */
    position: absolute; /* Top/left values mimic padding */
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
  }
  td:nth-of-type(1):before {
    content: "Answer";
  }
  td:nth-of-type(2):before {
    content: "Openness Score";
  }
  td:nth-of-type(3):before {
    content: "Conscientiousness";
  }
  td:nth-of-type(4):before {
    content: "Extroversion Score";
  }
  td:nth-of-type(5):before {
    content: "Agreeableness Score";
  }
  td:nth-of-type(6):before {
    content: "Neuroticism Score";
  }
}
