.header {
  display: flex;
  align-items: center;
  position: fixed !important;
  background-color: rgba(255, 255, 255, 0.6);
  transition: background-color 0.5s ease-out;
  padding: 1.5rem;
  height: 6rem;
}
.header:hover {
  background-color: white;
  transition: background-color 0.5s ease;
}
.header h4 {
  color: black;
}
.header__logo {
  width: 7rem;
  height: auto;
}
.header__logo-text {
  width: 14rem;
  height: auto;
}
.btn-sample {
  color: #ffffff;
  background-color: #36c996;
  border-color: #44cf9e;
  width: 10rem;
  font-size: 20px;
  font-weight: 500;
  transition: all 0.2s ease-out;
}
.btn-sample:hover {
  color: black;
  transform: translateY(-3px);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}
.btn-sample:active {
  transform: translateY(-1px);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}
.header_text {
  color: black;
  margin-right: 1rem;
  font-size: 1.2rem;
  line-height: 40px;
  transition: all 0.4s ease-out;
  margin-left: 2rem;
  border-bottom: 4px solid transparent;
  backface-visibility: hidden;
}
.header_text:hover,
.header_text:active {
  color: #44cf9e;
  border-bottom: 4px solid #44cf9e;
}
.active {
  color: #44cf9e;
  border-bottom: 4px solid #44cf9e;
}
.navbar-toggler {
  transition: all 0.5s ease-out;
  border: 2px solid #44cf9e;
}
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(68, 207, 158, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
.navbar-toggler:focus,
.navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
}
.header_logo {
  margin-left: 20px;
}
.header__title {
  margin-top: 6px;
}
.logout__icon {
  font-size: 25px !important;
}
.header__logout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.4s ease-out;
  font-size: 14px;
  padding-right: 2rem;
}

.header__logout:hover {
  transform: scale(1.2);
}

@media (max-width: 700px) {
  .header {
    height: 10rem;
  }
}
@media only screen and (max-width: 500px) {
  .header__logo {
    width: 5rem;
    height: auto;
  }
  .header__logo-text {
    width: 10rem;
    height: auto;
  }
}
